@import url('../css/fonts.css');

html,
body {
  margin: 0%;
  box-sizing: border-box;
}
/*--------------------Nav Bar----------------------*/
.navbar-meun {
  width: 100%;
  height: 60px;
}
.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  z-index: 100;
  margin-left: 56%;
  margin-top: 10px;
  transition: 0.5s;
}
nav li {
  margin-left: 1em;
  margin-bottom: 1em;
}
.navbar {
  text-align: right;
  padding-top: 1em;
  display: flex;
  justify-content: space-around;
  padding-right: 3em;
  color: #5690cf;
  width: 100%;
  z-index: 100;
  position: fixed;
  transition: 0.5s;
  background: #fff;
}
.logo {
  padding-left: 1em;
  font-size: 30px;
  font-family: 'Poppinsbold';
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
}

nav li a {
  color: #666567;
  font-size: 20px;
  font-family: PoppinsM;
  text-decoration: none;
}
nav li a:hover {
  color: #3ea9ec;
  font-weight: 800;
}

.navbar-toggle {
  padding-bottom: 1em;
  padding-top: 0.7em;
  position: absolute;
  font-size: 30px;
  right: 40px;
  cursor: pointer;
  display: none;
  z-index: 100;
}
.scroll {
  background: #fff;
  margin-top: -9px;
  box-shadow: 0px 5px 8px #ccc;
  width: 100%;
}

/*---------------------MEDIA QUERIES----------------------*/
@media screen and (max-width: 1444px) {
  nav li a {
    font-size: 14px;
  }
}
@media screen and (max-width: 789px) {
  .nav-links {
    display: none;
  }

  .navbar-toggle {
    display: block;
  }
  .mob-nav-active {
    position: absolute;
    right: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 38%;
    top: 63px;
    background-color: #f3f3f3;
    transition: transform 0.5s ease-in;
    z-index: 1000;
  }
  nav li a {
    font-size: 20px;
  }
}

@media screen and (max-hight: 789px) {
  nav {
    background: #fff;
  }
}
/*---------------Start banner--------------*/

.context {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 30vh;
  margin-top: 2%;
}

.context h1 {
  color: #fff;
  font-size: 50px;
  font-family: Poppinsbold;
}

.area {
  background: #5690cf;
  width: 100%;
  height: 100vh;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 90px;
  height: 90px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 90px;
  height: 90px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 90px;
  height: 90px;
  animation-delay: 0s;
  animation-duration: 8s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 90px;
  height: 90px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 150px;
  height: 150px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 150px;
  height: 150px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(820deg);
    opacity: 0;
    border-radius: 50%;
  }
}
/*---------------End banner--------------*/

/*--------------Start About Me---------------*/

.about-me {
  flex-wrap: wrap;
  position: relative;
}
.row {
  text-align: center;
  flex-direction: row;
  padding-top: 120px;
  padding-bottom: 150px;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 80%;
}
.heading h1 {
  font-size: 45px;
  text-transform: uppercase;
  font-family: Poppinsbold;
  margin-bottom: 20px;
  letter-spacing: 1px;
  text-align: center;
}

.heading p {
  font-size: 20px;
  font-weight: 600;
}
.sections {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  overflow: hidden;
}

.service-item {
  border: #d2e8ff solid 0.01px;
  border-radius: 4%;
  width: 20%;
  height: 300px;
  font-family: PoppinsM;
  font-weight: 600;
  margin: 5px;
  line-height: 30px;
  background: #f0efef;
}

.about-me h1.title {
  font-size: 25px;
  color: #a0c1e4;
}
.service-item:hover {
  box-shadow: 10px 10px 5px #ccc;
  -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  -khtml-box-shadow: 10px 10px 5px #ccc;
}

.service {
  width: auto;
  margin-left: 0;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
  flex-wrap: wrap;
}
.service-item h5 {
  color: #3a3f4b;
  font-family: 'lorabold';
}
p {
  font-size: 18px;
  font-family: Poppinsl;
}
.service-item i {
  background: #f5f6f8;
  height: 80px;
  width: 80px;
  border-radius: 100%;
  color: #00a5ff;
  font-size: 36px;
  line-height: 80px;
  margin: 20px;
}

@media only screen and (max-width: 1046px) {
  .service {
    flex-direction: column;
  }
  .service-item {
    width: 80%;
  }
}
/*--------------End About Me---------------*/

/*----------------Start call to action-----------------------*/
.call-to-action {
  background-color: rgba(86, 144, 207, 0.7);
  z-index: -1;
  text-align: center;
  padding: 110px;
}
.call-to-action .call-action-content {
  color: #e7e7e7;
  font-size: 40px;
}
.call-to-action ul li {
  list-style: none;
  display: inline-block;
  margin: 10px 15px 0;
}
.call-to-action ul {
  /* margin: 0; */
  margin-left: -120px;
  justify-content: center;
  display: inline-block;
  flex-wrap: wrap;
}
.call-to-action a {
  text-decoration: none;
  color: #e7e7e7;
  font-family: PoppinsM;
  padding: 10px;
  font-size: 18px;
  display: inline-block;
}
.call-to-action ul .main-btn {
  border: #e7e7e7 solid;
  border-radius: 80px;
  width: 250px;
}

.call-to-action ul .custom {
  background: #e7e7e7;
  color: #5690cf;
}

.call-to-action ul .main-btn:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background: rgba(255, 255, 255, 0.3);
  color: #e7e7e7;
}
/*----------------End call to action-----------------------*/
/*--------------Start myservice---------------*/
.myservice .headingw {
  text-align: center;
  width: 100%;
  font-weight: 700;
  padding-top: 120px;
  padding-bottom: 120px;
}
.myservice h1 {
  font-size: 35px;
  color: #67a8ee;
  text-transform: uppercase;
  font-family: PoppinsM;
  font-weight: 600;
  margin-bottom: 20px;
  /* color: #3a3f4b; */
  letter-spacing: 1px;
}
.myservice h1.title {
  font-size: 25px;
  color: #a0c1e4;
}
.myservices .services-item {
  border: #9b9d9b solid 0.5px;
  border-radius: 4%;
  width: 30%;
  height: 300px;
  font-size: 17px;
  font-family: PoppinsM;
  margin: 20px;
  line-height: 30px;
}
.myservices .services-item:hover {
  margin-top: -0.5%;
  background: #eef0ee;
  border: solid #eef0ee;
}

.myservices .services-item p {
  padding: 2%;
}
.myservices {
  width: 85%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

/*--------------End myservice---------------*/

/*--------------Start contact Me---------------*/
.contactme {
  background: #eef0ee;
}
.row {
  text-align: center;
  flex-direction: row;
  padding-top: 120px;
  padding-bottom: 150px;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 80%;
}
.heading h1 {
  font-size: 30px;
  text-transform: uppercase;
  font-family: Poppinsbold;
  margin-bottom: 20px;
  color: #577acc;
  letter-spacing: 1px;
  text-align: center;
}
.contactme h1.title {
  color: #67a8ee;
}
.sections {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  overflow: hidden;
}

.contact-item {
  border: #d2e8ff solid 0.01px;
  border-radius: 4%;
  width: 20%;
  height: 300px;
  font-size: 16px;
  font-family: PoppinsM;
  margin: 5px;
  line-height: 30px;
  background: #e0e2e0;
}
.contact-item:hover {
  box-shadow: 10px 10px 5px #ccc;
  -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  -khtml-box-shadow: 10px 10px 5px #ccc;
}

.contact {
  width: auto;
  margin-left: 0;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.contact p {
  font-size: 16px;
  font-family: Poppinsl;
  font-weight: 600;
}
.contact-item i {
  background: #f5f6f8;
  height: 80px;
  width: 80px;
  border-radius: 100%;
  color: #00a5ff;
  font-size: 36px;
  line-height: 80px;
  margin: 20px;
}
.contact a {
  text-decoration: none;
  color: #000000;
}

@media only screen and (max-width: 1046px) {
  .contact {
    flex-direction: column;
  }
  .contact-item {
    width: 80%;
  }

  .myservices {
    display: block;
  }
  .myservices .services-item {
    width: 100%;
    text-align: center;
    margin: 60px 5px;
    height: auto;
  }
}
/*--------------End contact Me---------------*/
/*--------------start footer---------------*/
.footer {
  width: 98.61vw;
  height: 70px;
  background: #14172a;
}
.footer p {
  padding-top: 25px;
  text-align: center;
  font-size: 20px;
  font-family: Poppinsbold;
  color: #fff;
  font-weight: 500;
}
