@import url('../css/fonts.css');

html,
body {
  margin: 0%;
  box-sizing: border-box;
}
/*---------- Start Global Classes---------*/
a {
  text-decoration: none;
  font-family: Capriola;
  color: #3f4954;
}
.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
ul {
  list-style-type: none;
}
/*---------- End Global Classes---------*/

/*------Start navBar------*/

.nav {
  background: white;
  padding: 16px;
  height: 0rem;
  min-height: 10vh;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
 
}

.nav .toggle-collapse {
  position: absolute;
  top: 0%;
  width: 90%;
  cursor: pointer;
  display: none;
}

.nav .toggle-collapse .toggle-icon {
  display: flex;
  justify-content: flex-end;
  padding: 38px 0;
  font-size: 18px;
}

.cllapse {
  height: 30rem;
}
.nav .nav-meun {
  justify-content: space-between;
}

.nav .nav-items {
  display: flex;
  margin: 0;
}
.nav .nav-items .nav-link {
  padding: 26px 16px;
  font-size: 18px;
  position: relative;
}

.nav .nav-items .nav-link:hover {
  text-decoration: underline;
}
.nav .social {
  padding: 23px 0;
}

.nav .social i {
  padding: 0 5px;
}

.nav .social i:hover {
  color: #33ff44;
}

.nav .nav-brand a {
  font-size: 26px;
  padding: 16px 0;
  display: block;
}
/*------ End navBar------*/

/* ---------- Start view width change --------*/
@media only screen and (max-width: 700px) {
  .nav .nav-meun,
  .nav .nav-items {
    flex-direction: column;
  }
  .nav .toggle-collapse {
    display: inline;
  }
}
/* ---------- End view width change----------*/

/*-------------Start fixed navbar-----------*/
.fixed {
  position: fixed;
  width: 97vw;
  top: 0;
  z-index: 22;
}
/*-------------End fixed navbar-----------*/

/*---------------Start banner--------------*/
.context {
  width: 100%;
  position: absolute;
  top: 30vh;
}

.context h1 {
  text-align: center;
  color: #fff;
  font-size: 50px;
}

.area {
  background: #cf366c;
  width: 100%;
  height: 100vh;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 90px;
  height: 90px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 90px;
  height: 90px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 90px;
  height: 90px;
  animation-delay: 0s;
  animation-duration: 8s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 90px;
  height: 90px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 150px;
  height: 150px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 150px;
  height: 150px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(820deg);
    opacity: 0;
    border-radius: 50%;
  }
}
/*---------------End banner--------------*/
.test {
  margin-top: 850px;
}
